@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Kumbh+Sans:wght@400;700&family=Manrope:wght@800&family=Open+Sans:wght@300;400&family=Public+Sans:wght@300;400;700&family=Rubik:wght@400;500;700&family=Shadows+Into+Light&display=swap');

$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

@mixin btn {
    padding: 10px 20px;
    background: linear-gradient(to left , $LimeGreen , $BrightCyan);
    border-radius: 20px;
    width: max-content;
    text-decoration: none;
    color: $White;
    outline: none;
    border: none;
    cursor: pointer;
}
@mixin header {
    font-size: 50px;
    color: $DarkBlue;
    font-weight: 200;
}
@mixin text-paragraph {
    font-size: 18px;
    line-height: 30px;
    color: $GrayishBlue;
}
.btn{
    @include btn;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body{
    height: max-content;
    overflow-x: hidden;
}

header{
    position: relative;
    z-index: 10;
    background-color: #fff;
    img{
        height: max-content;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        ul{
            display: flex;
            flex-direction: column;
            gap: 30px;
            text-align: center;
            justify-content: space-between;
            position: absolute;
            background-color: $White;
            top: 130%;
            height: 50vh;
            width: 90%;
            border-radius: 10px;
            padding-block: 40px;
            font-weight: 400;
            box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.385);
            transform: translateY(-140%);
            transition: 500ms transform ease-in-out;
            li{
                list-style: none;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: $DarkBlue;
                }
            }
        }
        .menu{
            position: relative;
            background-color: red;
            padding-right: 30px;
            .close{
                position: absolute;
                top: -10px;
                left: 0;
                display: none;
                width: 60%;
            }
            .burger{
                position: absolute;                position: absolute;
                top: -3px;
                left: 0;
            }
        }
        .navbar-btn{
            display: none;
        }
    }
    nav.open{
        ul{
            transform: translateY(0);
        }
        .menu{
            position: relative;
            .close{
               display: block;
               position: absolute;
            }
            .burger{
                display: none;

            }
        }
    }
}

// Home
.home{
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -250px;
    background-size: 100% 100%;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 80px;
    .image{
        width: 100%;
        text-align: center;
        img{
            width: 90%;
            margin-top: -150px;
        }
    }
    .home-content{
        text-align: center;
        width: 100%;
        padding-inline: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .home-content-header{
            @include header();
        }
        .home-content-body{
            @include text-paragraph();
        }
    }
}

// About

.about{
    width: 100%;
    height: max-content;
    padding-inline: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $LightGrayishBlue;
    padding-block: 50px;
    gap: 50px;
    .about-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        h1{
            @include header();
        }
        p{
            @include text-paragraph();
        }
    }
    .about-cards{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .about-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            img{
                width: 80px;
            }
            h1{
                @include header();
                font-size: 20px
            }
            p{
                @include text-paragraph();
            }
        }
    }
}

// Latest Articles

.articles{
    width: 100%;
    height: max-content;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 70px;
    gap: 30px;
    background-color: $VeryLightGray;
    .articles-header{
        @include header();
        font-size: 40px;
    }
    .articles-cards{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
        .articles-card{
            border-radius: 10px;
            background-color: $White;
            img{
                width: 100%;
                border-radius: 10px 10px 0 0;
                height: 40%;
                object-fit: cover;
            }
            .articles-card-content{
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                span{
                    font-size: 13px;
                    color: $GrayishBlue;
                }
                h1{
                    @include header();
                    font-size: 22px;
                }
                p{
                    @include text-paragraph();
                    line-height: 25px;
                    font-size: 17px;
                }
            }
        }
    }
}
// Footer

footer{
    width: 100%;
    height: max-content;
    background-color: $DarkBlue;
    text-align: center;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding-block: 30px;
    padding-bottom: 80px;
    .social-icons{
        img{
            padding: 5px;
            cursor: pointer;
        }
    }
    img{
        color: white;
    }
    ul{

        li{
            list-style: none;
            padding: 10px;
            color: $LightGrayishBlue;
            font-weight: 200;
            cursor: pointer;
        }
    }
    .copyright{
        color: $GrayishBlue;
    }
}


@media screen and (min-width:740px){
    header{
        nav{
            padding-inline: 50px;
            ul{
                transform: translateY(0);
                position: static;
                display: flex;
                flex-direction: row;
                height: 100%;
                box-shadow: none;
                gap: 30px;
                width: max-content;
                padding-block: 0;
            }
            .navbar-btn{
                display: block
            }
            .menu{
                display: none;
            }
        }
    }
    .home{
        background-image: url(./images/bg-intro-desktop.svg);
        background-position: right/top;
        background-position-y: 0;
        background-position-x: 500px;
        background-size: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
        min-height: 100vh;
        .image{
            width: 50%;
            height: 140%;
            img{
                width: 100%;
                height: 140%;
                margin-top: -100px;
                object-fit: cover;
                margin-right: -200px;
            }
        }
        .home-content{
            display: flex;
            text-align: start;
            align-items: flex-start;
            width: 600px;
            padding-left: 100px;
            margin-bottom: 100px;
        }
    }
    .about{
        margin-top: -10%;
        padding-inline: 100px;
        height: max-content;
        .about-header{
            text-align: start;
            align-items: flex-start;
            width: 60%;
            h1{
                width: max-content;
            }
        }
        .about-cards{
            text-align: start;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-start;
            .about-card{
                display: flex;
                align-items: flex-start;
                width: 250px;
            }
        }
    }
    .articles{
        padding-inline: 100px;
        height: max-content;
        .articles-header{
            width: 100%;
            text-align: start;
        }
        .articles-cards{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            .articles-card{
                min-width: 200px;
                max-width: 300px;
            }
        }
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        text-align: start;
        align-items: flex-start;
        grid-template-areas:
        'logo ul ul btn'
        'social-icons ul ul copyright'
        ;
        .social-icons{
            grid-area: social-icons;
        }
        ul{
            grid-area: ul;
            display: flex;
        }
        .copyright{
            grid-area: copyright;
        }
        .btn{
            grid-area: btn;
        }
        .img{
            grid-area: logo;
        }
    }
}